@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font: 'Varela Round', sans-serif;
    --font-color: #555;
    --font-color-letters: #467A96;
    --border-color: #555;
    --bg-color: #c5c3c6;
    --bg-gameboard: white;
    --bg-header: #;
    --bg-button: white;
    --bg-button-hover: #DCDCDC;
    --bg-button-active: #BDBDBD;
    --height-button: 151px;
    --width-button: 151px;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 5px;
    background-color: var(--bg-header);
    display: flex;
    height: 150px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 75px;
    color: var(--font-color);
}

#playerTurn {
    font-size: 30px;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: var(--bg-color);
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 454px;
    height: 454px;
    margin: 0px;
}

.square {
    border: 1px solid var(--border-color);
    height: 151.33px;
    width: 151.33px;
    font-size: 1px;
    color: var(--font-color-letters);
}

.square:nth-child(1) {
    border-top-left-radius: 15px;
}

.square:nth-child(3) {
    border-top-right-radius: 15px;
}

.square:nth-child(7) {
    border-bottom-left-radius: 15px;
}

.square:nth-child(9) {
    border-bottom-right-radius: 15px;
}

.square:nth-child(1), 
.square:nth-child(2), 
.square:nth-child(3) {
	border-top: none;
}

.square:nth-child(1),
.square:nth-child(4),
.square:nth-child(7) { 
    border-left: none; 
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) { 
    border-right: none; 
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) { 
    border-bottom: none; 
}

.center{
    display: flex;
    justify-content: center;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height-button);
    width: var(--width-button);
    font-size: 36px;
    color: var(--font-color);
    background-color: var(--bg-button);
    border-radius: 5px;
    margin-top: 30px;
}

.hover:hover,
.restart:hover {
    background-color: var(--bg-button-hover);
    cursor: grab;
}

.active:active,
.restart:active {
    background-color: var(--bg-button-active);
    cursor: grabbing;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
  
.rotate {
    transition: transform 1s ease-in-out;
    transform: rotate(720deg);
}